@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
  }
  input, button, textarea, select {
    outline: none;
  }
  a,span {
    display: inline-block;
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  p,.our-popular-text-content ul li {
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5D;
    text-transform: inherit;
    line-height: 1.75em;
  }
h2 {
    font-weight: 800;
    font-size: 40px;
    color: #131318;
    text-transform: capitalize;
    line-height: normal;
}
  h3 {
    font-weight: 800;
    font-size: 28px;
    color: #131318;
    text-transform: capitalize;
    line-height: normal;
  }
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .similar-heading {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .similar-heading p {
    margin-top: 24px;
  }
  .btn a {
    font-weight: 800;
    font-size: 20px;
    background-color: #FF5400;
    color: #FFFFFF;
    padding: 14px 35px;
    border-radius: 8px;
    transition: .3s;
  }
  .btn a:hover {
    background-color: #3652AD;
  }

  /* star header area css */
  .header-area {
    background-color: #FFFFFF;
    padding: 45px 0;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo a  {
    display: flex;
    align-items: center;
  }
  .header-logo a img {
    width: 55px;
    height: auto;
    margin-right: 15px;
}
.header-logo a span small {
    font-weight: 800;
    font-size: 35px;
    text-transform: capitalize;
    line-height: normal;
}

.header-content ul {
    display: flex;
    align-items: center;
}
.header-content ul li a {
    font-weight: 400;
    font-size: 18px;
    color: #424247;
    text-transform: capitalize;
    line-height: normal;
    margin-left: 40px;
    transition: .3s;
}
.header-content ul li a:hover,.header-content ul li a.active {
    font-weight: 700;
    color: #FF5400;
}
.mobile-version-icon {
    display: none;
}

  /* end header area css */

  /* start hero  area css */
  .hero-content {
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.hero-content::before {
    content: "";
    position: absolute;
    background-image: url('../images/hero-before.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-heading-content h1 {
    font-weight: 800;
    font-size: 64px;
    color: #FFFFFF;
    text-transform: capitalize;
    line-height: normal;
}
.hero-heading-content p {
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 45px;
}
.hero-heading-content {
    max-width: 675px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.hero-find-place {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    border-radius: 8px;
  
}
.hero-find-place form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}
.single-select-itmes,.single-find-items,.single-search-btn {
    position: relative;
}
.single-select-itmes svg {
    position: absolute;
    right: 10px;
    top: 12px;
    pointer-events: none;
}
.hero-find-place form input,.hero-find-place form select {
    font-weight: 400;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.50);
    text-transform: inherit;
    line-height: normal;
    padding: 15px 15px;
    width: 175px;
    border: none;
    border-radius: 8px;
}
.hero-find-place form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    position: relative;
    cursor: pointer;
  }
  .hero-find-place form input[type="submit"] {
    background-color: #FF5400;
    color: #FFFFFF;
    padding-left: 30px;
    cursor: pointer;
    font-weight: 700;
}
  .single-search-btn svg {
    position: absolute;
    left: 25px;
    top: 12px;
}

  /* end hero area css */

  /* start our popular area css */
  .our-popular-area {
    padding: 100px 0;
  }
  .our-popular-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 50px;
}
.our-popular-image-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.our-popular-text-content h2 {
    margin-bottom: 22px;
}
.our-popular-text-content ul {
    list-style: disc;
    padding-left: 25px;
}
.our-popular-text-content ul li b {
    color: #000000;
}
.our-popular-text-content h2 + p {
    margin-bottom: 20px;
}
.our-popular-text-content h2 ~ ul {
    margin-bottom: 20px;
}
.our-popular-text-content p ~ div {
    margin-top: 30px;
}
.our-popular-text-content ul li {
    margin-bottom: 15px;
}
.our-popular-text-content ul li:last-child {
    margin-bottom: 0;
}

  /* end our popular area css */

  /* start choose destination area css */

    .choose-destination-content {
        margin-top: 45px;
    }
    .choose-destination-content-row {
        display: grid;
        gap: 20px;
    }
    .destination-first-row {
        grid-template-columns: repeat(2,50%);
    }
    .destination-second-row {
        grid-template-columns: 30% 50% 20%;
    }
    .destination-third-row {
        grid-template-columns: 40% 60%;
    }
    .single-destination-content-row {
        position: relative;
    }
    .single-destination-content-row img {
        width: 100%;
        height: 285px;
        border-radius: 15px;
        display: block;
        object-fit: cover;
        margin-bottom: 20px;
    }
    .single-destination-content-row h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #FFFFFF;
        transform: translate(-50%, -50%);
    }


  /* end choose destination area css */

  /* start why choose us area css */
.why-choose-us {
    background-color: #FFFFFF;
    padding: 100px 0;
}
    
  .why-choose-us-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 45px;
  }
  .single-why-choose-us-content {
    flex: 0 0 49%;
    border-radius: 15px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}
.single-why-choose-us-content:nth-child(2){
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.single-why-choose-us-text h3 {
    font-weight: 800;
    font-size: 24px;
    color: #131318;
    text-transform: capitalize;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 15px;
}

  /* end why choose us area css */

  /* start simple perfect place area css */
    .our-popular-image-content iframe {
        width: 100%;
        height: 435px;
        border-radius: 15px;
    }

  /* end simple perfect place area css */

  /* start newsletter area css */
  .newsletter-area {
    padding: 100px 0;
  }
  .newsletter-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.newsletter-left-content {
    border-radius: 15px;
    border: 1px solid #FF5400;
    padding: 40px;
    flex: 0 0 43.5%;
}
.newsletter-right-content {
    position: relative;
    flex: 0 0 53.5%;
}
.newsletter-right-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.newsletter-right-save p {
    font-weight: 800;
    font-size: 30px;
    color: #FFF;
    text-transform: inherit;
    border-radius: 15px;
    background: #FF5400;
    width: auto;
    display: inline-block;
    padding: 15px 40px;
    line-height: normal;
    text-align: center;
    position: absolute;
    right: 5px;
    bottom: 58px;
    transform: rotate(-20deg);
}
.newsletter-right-save p span {
    font-weight: 400;
    font-size: 24px;
    display: block
}
.newsletter-left-heading-text {
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}
.newsletter-left-heading-text h4 {
    font-weight: 800;
    font-size: 22px;
    color: #131318;
    line-height: normal;
}
.newsletter-left-heading-text p {
    margin-top: 15px;
    margin-bottom: 24px;
}
.newsletter-left-content form {
    margin-top: 9px;
}
.newsletter-left-content form input {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 15px 20px;
    color: rgba(19, 19, 24, 0.30);
    margin-top: 15px;
}
.newsletter-left-content form input[type="submit"] {
    font-weight: 800;
    font-size: 20px;
    color: #FFF;
    background-color: #FF5400;
    transition: .3s;
    cursor: pointer;
    margin-top: 24px;
}
.newsletter-left-content form input[type="submit"]:hover {
    background-color: #3652AD;
}
  /* end newsletter area css */




  /* MOBILE RESPONSIVE CSS */


  @media all and (max-width: 1199px) {
    .single-why-choose-us-content {
        flex: 0 0 48%;
    }

  }

  @media all and (max-width: 991px) {
    .header-content ul li a {
        font-size: 18px;
        margin-left: 25px;
    }
    .header-logo a span small {
        font-size: 28px;
    }
    .header-logo a img {
        width: 50px;
        margin-right: 10px;
    }
    .hero-content {
        padding: 60px 0;
    }
    .hero-heading-content h1 {
        font-size: 50px;
    }
    .hero-find-place form input, .hero-find-place form select {
        width: 195px;
    }
    .hero-find-place {
        max-width: 650px;
    }
    .hero-find-place form {
        justify-content: center;
    }
    .our-popular-content {
        grid-template-columns: repeat(1,1fr);
        row-gap: 24px;
    }
    .our-popular-text-content ul li {
        margin-bottom: 12px;
    }
    .our-popular-area,.why-choose-us,.newsletter-area {
        padding: 50px 0;
    }
    .single-destination-content-row img {
        margin-bottom: 15px;
    }
    .choose-destination-content-row {
        gap: 15px;
    }
    .single-destination-content-row img {
        height: 250px;
    }
    .single-why-choose-us-img svg {
        width: 50px;
        height: 50px;
    }
    .single-why-choose-us-text h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    p, .our-popular-text-content ul li {
        font-size: 15px;
    }


  }

  @media all and (max-width: 767px) {
    .header-content ul {
        display: none;
    }
    .mobile-version-icon {
        display: block;
    }
    .header-area {
        padding: 30px 0;
    }
    .header-logo a img {
        width: 42px;
    }
    .hero-find-place form {
        justify-content: center;
        gap: 12px;
        align-items: stretch;
    }
    .hero-find-place {
      
        box-sizing: border-box;
    }
    .hero-content {
        padding: 60px 20px;
    }
    .our-popular-area,.why-choose-us,.newsletter-area   {
        padding: 35px 0;
    }
    .choose-destination-content-row {
        gap: 0;
    }
    .destination-first-row,.destination-second-row,.destination-third-row {
        grid-template-columns: repeat(1,100%);
    }
    .single-why-choose-us-content {
        flex: 0 0 100%;
    }



  }

  @media all and (max-width: 575px) {
    p,.our-popular-text-content ul li {
        font-size: 14px;
        line-height: normal;
    }
    h2 {
        font-size: 20px;
    }
    .hero-heading-content h1 {
        font-size: 22px;
    }
    .header-logo a img {
        width: 30px;
    }
    .header-logo a span small {
        font-size: 22px;
    }
    .header-area {
        padding: 20px 0;
    }
    .hero-find-place form input, .hero-find-place form select {
        width: 100%;
    }
    .hero-find-place form {
        flex-direction: column;
    }
    .hero-content {
        padding: 35px 20px;
    }
    .hero-heading-content p {
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .our-popular-area,.why-choose-us,.newsletter-area {
        padding: 25 0;
    }
    .similar-heading p {
        margin: 15px 0;
    }
    .single-destination-content-row img {
        height: 200px;
    }
    .choose-destination-content {
        margin-top: 24px;
    }
    .our-popular-area {
        padding: 25px 0;
    }
    .single-why-choose-us-text h3 {
        margin: 15px 0;
    }
    .our-popular-image-content iframe {
        height: 330px;
    }


  }

  @media all and (max-width: 450px) {
    .single-destination-content-row img {
        height: 180px;
    }
    .our-popular-image-content iframe {
        height: 230px;
    }
    

  }